<div class="container">
  <div class="row">
    <div class="col-sm-8">

      <h4 class="display-4">TODO List App</h4>

      <div class="card mb-4">
        <div class="card-header">
          Pending tasks
        </div>
        <div class="card-body">
          <ol class="list-group" *ngIf="getPendingTasks().length > 0">
            <li class="list-group-item"
                *ngFor="let task of getPendingTasks(); index as i">
              <app-task [task]="task" [i]="i"></app-task>
            </li>
          </ol>
          <p class="alert alert-info" *ngIf="!getPendingTasks().length">No pending tasks.</p>
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-header">
          Finished tasks
        </div>
        <div class="card-body">
          <ol class="list-group" *ngIf="getFinishedTasks().length > 0">
            <li class="list-group-item"
                *ngFor="let task of getFinishedTasks(); index as i">
              <app-task [task]="task" [i]="i"></app-task>
            </li>
          </ol>
          <p class="alert alert-info" *ngIf="!getFinishedTasks().length">No finished tasks.</p>
        </div>
      </div>

      <!--<div class="alert alert-danger" *ngIf="deletedTask">Task {{deletedTask.text}} has been deleted. <input value="Undo" type="button" class="btn btn-danger" /> </div>-->

      <div class="card mb-4">
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="itemText">New Item</label>
              <input type="text" class="form-control" id="itemText" placeholder="Fetch kids from school">
              <small class="form-text text-muted">Write something for your TODO list.</small>
            </div>
            <button type="submit" id="submitItemBtn" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="itemText">Reorder</label>
              <small class="form-text text-muted">Move stuff around.</small>
            </div>
            <button type="submit" id="reorderTasksBtn" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>

      <br/>
      <div class="card mb-4">
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="itemText">Clear finished tasks</label>
              <small class="form-text text-muted">Clear finished tasks.</small>
            </div>
            <button type="submit" id="clearFinishedTasks" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
